.title {
    text-align: center;
    font-size: 4.6rem;
    margin: 5rem 0;
    color: black;
    font-weight: 900;
}

.container {
    width: 95%;
    max-width: 60rem;
    margin: 0 auto;
}

.alert {
    display: flex;
    width: 95%;
    max-width: 60rem;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    background: transparent;
    color: var(--black);
    margin: 5rem auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 3.5rem;
    }
}